@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  margin: 20px 110px;
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.logo {
  fill: #ffe81f;
  width: 100%;
  max-width: 28rem;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card:nth-child(1) > * {
  background-image: url('https://finmavis.github.io/swapi-task/static/media/bg-card-1.0c96fd00.png');
}
.card:nth-child(2) > * {
  background-image: url('https://finmavis.github.io/swapi-task/static/media/bg-card-2.b0a7b209.png');
}
.card:nth-child(3) > * {
  background-image: url('https://finmavis.github.io/swapi-task/static/media/bg-card-3.1914d853.png');
}
.card:nth-child(4) > * {
  background-image: url('https://finmavis.github.io/swapi-task/static/media/bg-card-4.c21c4d4b.png');
}
.card:nth-child(5) > * {
  background-image: url('https://finmavis.github.io/swapi-task/static/media/bg-card-5.67d061d6.png');
}
.card:nth-child(6) > * {
  background-image: url('https://finmavis.github.io/swapi-task/static/media/bg-card-6.b4fea25d.png');
}
.card-content {
  padding: 20px;
  color: rgb(255, 255, 255);
  transform: perspective(1px) translateZ(0px);
  box-shadow: transparent 0px 0px 10px 3px, rgb(0, 0, 0) 0px 0px 10px;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  border-radius: 5px;
}

.card-content:hover {
  box-shadow: rgb(32, 152, 209) 0px 0px 10px 3px, rgb(0, 0, 0) 0px 0px 10px;
}

.link {
  border-top: 2px solid rgb(142, 46, 46);
  padding-top: 10px;
}

.link a {
  color: rgb(255, 232, 31);
  text-decoration: none;
}

.title {
  font-size: 22px;
  letter-spacing: 2px;
  /* padding-bottom: 5px; */
}

.date {
  color: rgb(157, 157, 157);
  font-size: 14px;
  padding-bottom: 15px;
}

.summary {
  padding-bottom: 20px;
  font-size: 16.5px;
}

.center {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  border-width: 3px 2px 3px 2px;
  border-style: solid dotted solid dotted;
  border-color: #ffe81f rgba(255, 255, 255, 0.3) #fff rgba(151, 107, 93, 0.3);
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
}
.loader:before,
.loader:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  transform: translate(-10px, 19px) rotate(-35deg);
}
.loader:after {
  border-color: #ffe81f #0000 #0000 #0000;
  transform: translate(32px, 3px) rotate(-35deg);
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.movies-wrapper {
  background-color: rgb(35, 35, 35);
  color: rgb(255, 255, 255);
  padding: 3rem;
  border-radius: 0.5rem;
}

.title-wrapper {
  text-align: center;
  padding-bottom: 20px;
}

.title-wrapper h1 {
  font-size: 40px;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.title-wrapper p {
  font-size: 16px;
  padding-bottom: 10px;
}

.movie-des {
  padding-bottom: 30px;
}
.movie-lists {
  border-top: 2px solid rgb(60, 60, 60);
  margin-bottom: 30px;
  padding-top: 30px;
}

.movie-lists ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1.8rem;
}

.movie-lists ul li {
  width: 33.33%;
}

h4 {
  color: rgb(157, 157, 157);
  padding-bottom: 16px;
}

.btn-back {
  text-decoration: none;
  color: #9d9d9d;
  display: flex;
  align-items: flex-end;
  gap: 5px;
  font-size: 16px;
}

.btn-back img {
  height: 20px;
  width: 20px;
}
